/* reset based on https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* more resets */
p, li, figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

/* fonts */
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
}

@font-face {
  font-family: Bungee;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Bungee-Regular.woff2") format("truetype")
}

/* colors and spacing */
:root {
  --background: #101010;
  --foreground: #e3e3e3;

  --surface: #1F1F1F;
  --surface-dark: oklch(from var(--surface) calc(l - 0.05) c h);
  --surface-light: oklch(from var(--surface) calc(l + 0.1) c h);

  --primary: #34cd3c;
  --primary-light: oklch(from var(--primary) calc(l + 0.1) c h);
  --on-primary: var(--surface);

  --sp1: 0.5rem;
  --sp2: 0.75rem;
  --sp3: 1rem;
}

/* styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: InterVariable;
}

main {
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr minmax(30ch,65ch) 1fr;
  gap: 2rem;

  & > * {
    grid-column: 2;
  }

  .full-bleed {
    grid-column: 1 / -1;
  }
}

h1 {
  font-family: Bungee;
  color: var(--primary);
}

ul.reset {
  margin: 0;
  padding: 0;
  li { list-style-type: none; }
}

a {
  color: var(--primary);

  &.reset {
    color: inherit;
    text-decoration: none;
  }
}

/* Use .btn for links styled as buttons */
button, a.btn {
  text-decoration: none;

  &.base {
    border: none;
    border-radius: var(--sp2);
    padding: var(--sp1) var(--sp2);
    font-weight: 700;
  }

  &.primary {
    background-color: var(--primary);
    color: var(--on-primary);

    &:hover {
      background-color: var(--primary-light);
    }
  }
}

.hover-primary-outline {
  border: 2px solid transparent;
  &:hover { border: 2px solid var(--primary); }
}
